@mixin min($breakpoint, $name: null) {
  @if $name {
    @container #{$name} (min-width: #{$breakpoint}) {
      @content;
    }
  } @else {
    @container (min-width: #{$breakpoint}) {
      @content;
    }
  }
}

@mixin jm_button {
  .jm-button {
    background-color: var(--jm-secondary-color);
    color: var(--jm-primary-color);
    text-align: center;
    padding: 12px 24px;
    display: inline-block;
    text-decoration: none;
    transition:
      background-color 0.2s ease,
      color 0.2s ease,
      transform 0.1s ease;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--jm-secondary-color) 85%,
        black
      ); //todo update hover color
      transform: scale(1.05);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid red; //todo update focus color
      outline-offset: 3px;
    }

    &:active {
      transform: translateY(0);
    }
  }
}
