@use "../../scss/abstracts/index" as *;

@layer blocks {
  .jm-text-with-image {
    @include jm_button();
    --jm-text-image-padding: var(--jm-spacing-xl);
    --jm-text-image-gap: var(--jm-spacing-xl);
    --jm-text-image-cols: 1;

    .jm-section__container {
      grid-template-columns: repeat(var(--jm-text-image-cols), 1fr);
    }

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__image {
      border-radius: var(--jm-radius-md);
    }

    @include min($mobile) {
      --jm-text-image-cols: 2;
    }
  }
}
